<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SwiftStock - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <!-- Sign-In Form -->
          <form autocomplete="off" class="sign-in-form" method="POST">
            <div class="logo" style="margin: 0;">
              <img src="{{ url_for('static', filename='images/logo.svg') }}" 
                   alt="Logo" 
                   class="logo-img"
                   style=" border-radius: 75%;">
              
            </div>

            <div class="heading">
              <h2>Login!</h2>
              <h6>Not registered yet?</h6>
              <a href="{{ url_for('register') }}" class="toggle">Register!</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                  type="text"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  name="email"
                  placeholder="Email"
                  required
                />
              </div>

              <div class="input-wrap">
                <input
                  name="password"
                  type="password"
                  minlength="8"
                  class="input-field"
                  autocomplete="off"
                  placeholder="Enter Password"
                  required
                />
              </div>

              <input type="submit" value="Login" class="sign-btn" />
              <p class="text">
                Forgot password?
                <a href="{{ url_for('forgot') }}" class="toggle">I forgot!</a>
              </p>

            </div>
          </form>

          <!-- Sign-Up Form -->
          <form autocomplete="off" class="sign-up-form" method="POST" action="{{ url_for('register') }}">
            <div class="logo" style="margin: 0;">
              <img src="{{ url_for('static', filename='images/pupt.png') }}" alt="PUPT" />
              <h4>REAL-TIME STOCK PRICE ANALYZER</h4>
            </div>

            <div class="heading">
              <h2>Get Started</h2>
              <h6>Already have an account?</h6>
              <a href="{{ url_for('login') }}" class="toggle">Login</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                  type="text"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  placeholder="Enter Username"
                  required
                />
                <label>Username</label>
              </div>

              <div class="input-wrap">
                <input
                  type="email"
                  class="input-field"
                  autocomplete="off"
                  placeholder="Enter Email"
                  required
                />
                <label>Email</label>
              </div>

              <div class="input-wrap">
                <input
                  type="password"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  placeholder="Enter Password"
                  required
                />
                <label>Password</label>
              </div>

              <input type="submit" value="Register" class="sign-btn" />

              <p class="text">
                By signing up, I agree to the
                <a href="#">Terms of Services</a> and
                <a href="#">Privacy Policy</a>
              </p>
            </div>
          </form>
        </div>

        <!-- Carousel Section -->
        <div class="carousel">
          <div class="images-wrapper">
            <img src="{{ url_for('static', filename='images/rts.png') }}" class="image img-1 show" alt="Real-Time Stock Price Analyzer" />
            <img src="{{ url_for('static', filename='images/datas.jpeg') }}" class="image img-2" alt="Data Structure" />
            <img src="{{ url_for('static', filename='images/mt.png') }}" class="image img-3" alt="Group three" />
          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Real-Time Stock Price Analyzer</h2>
                <h2>EXCLUSIVELY FOR DSA</h2>
                <h2>Meet the Team</h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
