<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Real-Time Stock Price Analyzer</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add_stocks') }}">Add Stocks</a></li>
                <li><a href="{{ url_for('remove_stocks') }}">Remove Stocks</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="remove" class="section">
            <h1>Remove Stocks</h1>
            <form>
                <input type="text" placeholder="Stock Name" required>
                <button type="submit">Remove</button>
            </form>
        </section>

    </main>

    <script>
        const ctx = document.getElementById('stockGraph').getContext('2d');
    </script>
</body>
</html>