<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RTSPA</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{{  url_for('home')  }}">
        <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
        </span>
        <span>Real-Time Stock Price Analyis</span>
      </a>
      <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
        <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-5">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('add_stocks') }}">My Stocks</a></li>
        </ul>
        <ul class="navbar-nav"></ul>
          <li class="nav-item">
            <div style="position: relative;">
              <input type="text" id="search" placeholder="Search Stocks">
              <div id="suggestions" style="background-color:#eee;"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div id="main_info" style="margin-top: 1rem">
        <h1 id="company_name" style="margin-left: 2.5rem;margin-top: 1rem;width: 400px;font-weight: bold;font-size: 30px;display: inline-block;--bs-body-font-weight: 400;"><strong>{{name}}</strong> ({{symbol}})</h1>      
        </div>
    <div id="candle_graph" style="width: 97%;height: 300px;margin-top: 1rem;margin-right: 1rem;margin-bottom: 1rem;margin-left: 1rem;display: flex;position: relative;">
        <div id="candleChart" style="width: 100%;"></div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const chartData = JSON.parse('{{ chart_data | safe }}');
        
        const dates = chartData.data[0].x.map(date => new Date(date));
        const open = chartData.data[0].open;
        const high = chartData.data[0].high;
        const low = chartData.data[0].low;
        const close = chartData.data[0].close;
        
        const trace = {
            x: dates,
            close: close,
            decreasing: {line: {color: '#A32424'}},
            high: high,
            increasing: {line: {color: '#3BA324'}},
            low: low,
            open: open,
            type: 'candlestick',
            xaxis: 'x',
            yaxis: 'y'
        };
        
        const data = [trace];
        
        const layout = {
            dragmode: 'zoom',
            showlegend: false,
            xaxis: {
                rangeslider: {
                    visible: false
                }
            }
        };
        
        Plotly.newPlot('candleChart', data, layout, {responsive: true});
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>