<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SwiftStock - Verification</title>
  <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <!-- Sign-In Form -->
          <form autocomplete="off" class="registerform" method="POST">
            <div class="logo" style="display: flex; justify-content: center;">
              <img src="{{ url_for('static', filename='images/logo.svg') }}" 
                   alt="Logo" 
                   class="logo-img"
                   style=" border-radius: 75%; margin: 0; height: 30px; width: 30px;">
            </div>

            <div class="heading">
              <h2>Verification</h2>
              <h4>Check the verification code that is sent in your email</h4>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                  type="text"
                  id="code"
                  name="code"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  placeholder="Enter Verification Code"
                  required
                />
              </div>

              <input type="submit" value="Submit" class="sign-btn-1" id="submitbutton" />

            </div>
          </form>
        </div>

        <!-- Carousel Section -->
        <div class="carousel">
          <div class="images-wrapper">
            <img src="{{ url_for('static', filename='images/rts.png') }}" class="image img-1 show" alt="" />
            <img src="#" class="image img-2" alt="" />
            <img src="{{ url_for('static', filename='images/image3.png') }}" class="image img-3" alt="" />
          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Real-Time Stock Price Analyzer</h2>
                <h2>EXCLUSIVELY FOR DSA</h2>
                <h2>Meet the Team</h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
</body>
</html>
